*{
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}
.container{
    width: 960px;
    margin: 0 auto;
}
#logo{
    padding: 20px 0;
    width: 30%;
    float: left;
}
#menu{
    width: 70%;
    float: left;
}
#header a{
    text-decoration: none;
}
#logo a span{
    font-size: 24pt;
    font-weight: 700;
}
#logo span:first-child{
    color: #2c2e2b;
}
#logo span:last-child{
    color: #e6b707;
}
#menu ul{
    padding:0;
    list-style-type: none;
    text-align: right;
    margin: 0;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    padding: 30px 15px;
    display: block;
    text-transform: uppercase;
    color: #747474;
    border-left: 2px #a8a8a8 solid;
}
#menu ul li a:first-child{
    border-left: none;
}
#menu ul li a:hover{
    background: #e6b707;
    color: #fff;
}
#slider{
    clear: both;
    max-height: 350px;
    overflow: hidden;
}
#slider a{
    position: relative;
    display: block;
}
.caption{
    position: absolute;
    top: 100px;
    background: rgba(58, 58, 58, 0.53);
    z-index: 10000;
    right: 0;
    padding: 0 400px;
    padding-left: 20px;
}
.h1{
    margin-bottom: 10px;
    font-weight: 500;
}
.h2{
    font-weight: 700;
}
.caption p{
    color: #ffffff;
    font-size: 24pt;
}
.caption p.h2{
    margin-top: 0;
}
